*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

body{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    background: #000;
    color: #FFFFFF;
}

.wrapper{
    width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    position: relative;
}

/* Header Style Start */

.header{
    padding-bottom: 100px;
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
}

.header__me, .me{
    display: flex;
    align-items: center;
}

.header-logo-icons{
    padding-right: 12px;
    padding-top: 17px;
}

.logo-me{
    padding-top: 20px;
    font-weight: 700;
    font-size: 24px;
    line-height: 39px;
    color: #FFFFFF;
}

.logo-me:hover, .logo-me:focus{
    opacity: 0.7;
}

.header__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-item-li{
    padding-right: 40px;
}

.header-item a::before{
    content: "";
    bottom: 0;
    left: 0;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #dddddd;
    transition: 0.2s;
}

.header-item a:hover:before {
    width: 50%;
}

.header-item{
    display: inline-block;
    padding-top: 27px;
}

.sub-menu-link{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content a::before{
    content: "";
    bottom: 0;
    left: 0;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #dddddd;
    transition: 0.2s;
}

.dropdown-content a:hover:before {
    width: 30%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #00000052;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px 2px 0;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: rgba(221, 221, 221, 0);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e4100;}

.header__link{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.header__link:hover{
    opacity: 0.7;
}

.header-title{
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
    border-bottom: 1px solid #686666 ;
}

.header-instagram{
    padding-right: 20px;
    padding-left: 90px;
    text-align: center;
}

.header-github, .header-instagram{
    padding-top: 25px;
}

/* Header Style End */



/* Intro Styles Start */

.intro-wrapper{
    height: 600px;
    background: #656ADD;
    border-radius: 8px;
    padding-top: 50px;
    padding-left: 60px;
    /* background-image: url(../Portfolio/img/Svg/contact-pictures.svg)  ;
    background-size: contain;
    background-position: 0px 100px;
    background-repeat: no-repeat; */
    /* background-size: 800px 600px; */
}

.intro-contact{
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    padding-bottom: 50px;
}

.intro-sub-title{
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    color: #FFFFFF;
    padding-bottom: 20px;
}

.sub-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    padding-bottom: 30px;
    position: relative;
    z-index: 999;
}

.instagram{
    padding-right: 20px;
    position: relative;
    z-index: 999;
}
.github{
    position: relative;
    z-index: 999;
}

.pictures{
    position: relative;
    bottom: 249px;
    z-index: 0;

}

/* Intro Styles End */